{% extends "MZBlogBundle::layout.html.twig" %}

{% block title %}Miguel Perez &bull; {{ post.title }}{% endblock %}

{% block description %}{{ post.description }}{% endblock %}

{% block keywords %}{{ post.keywords }}{% endblock %}


{% block content %}
<h1>{{ post.title }}</h1>{{ time_diff(post.createdAt) }}
<p>{{ post.body | raw }}</p>
{% endblock %}